:host{
	display:inline-block;
	width: calc(100%/4 - 3px);
	margin: 0 4px 0 0;
}


#overproduction-ratio-block:host > .prosumer-page-block {
	background-color: brown;
}

#underproduction-ratio-block:host > .prosumer-page-block {
	background-color: green;
}

#currency-block:host > .prosumer-page-block {
	background-color: darksalmon;
}