
#overproduction-ratio-block:host > .sub-block {
	background-color: brown;
}

#underproduction-ratio-block:host > .sub-block {
	background-color: green;
}

#currency-block:host > .sub-block {
	background-color: darksalmon;
}
