:host > .alert-container {
	position: fixed;
	bottom: 5%;
	width: 100%;
}

:host .alert {
	background-color: #cecece;
	border: solid 1px #858585;
	height: 50px;
	width: 800px;
	border-radius: 10px;
	text-align: center;
	margin: 5px auto;
	line-height: 50px;
	padding: 0px 20px;
	opacity: 0.95;
	font-size: 18px;
}
:host .close {
	float: right;
	font-size: 30px;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

:host .alert-success {
	background-color: #d4edda;
	border-color: #c3e6cb;
	color: #155724;
}

:host .alert-error {
	background-color: #f8d7da;
	border-color: #f5c6cb;
	color: #721c24;
}

:host .alert-info {
	background-color: #d1ecf1;
	border-color: #bee5eb;
	color: #0c5460;
}

:host .alert-warning {
	background-color: #fff3cd;
	border-color: #ffeeba;
	color: #85643f;
}
