:host > .alert-container {
	position: fixed;
	top: 5%;
	width: 100%;
}

:host .alert {
	background-color: var(--background-color);
	border: solid 2px #858585;
	height: 50px;
	width: 800px;
	border-radius: 10px;
	text-align: center;
	margin: 5px auto;
	line-height: 50px;
	padding: 0px 20px;
	opacity: 0.95;
	font-size: 18px;
}
:host .close {
	float: right;
	font-size: 30px;
	cursor: pointer;
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

:host .alert-success {
	border-color: #c3e6cb;
	color: #c3e6cb;
}

:host .alert-error {
	border-color: #f5c6cb;
	color: #f5c6cb;
}

:host .alert-info {
	border-color: #bee5eb;
	color: #bee5eb;
}

:host .alert-warning {
	border-color: #ffeeba;
	color: #ffeeba;
}
