#overproduction-ratio-block:host > .sub-block {
	background-color: brown;
}

#underproduction-ratio-block:host > .sub-block {
	background-color: green;
}

.ratio-block > mat-slider {
	display: block;
	padding-top: 14px;
	width: 150px;
	margin: 0 auto;
}