<div class="sub-block">
	<h1>Power plant details</h1>
	<span>Battery: </span><span #battery></span> <span #batteryCapacity></span>
	<span>Production: </span><span #production></span><br><br>
	<span>Consumption: </span><span #consumption></span><br><br>
	<span>Net production: </span><span #netProduction></span> <br><br>
	<p>Power plant status: Running</p>
	<h3>Battery to market ratio</h3>
	<mat-slider min="0" max="1" step="0.1" value="1" thumbLabel = "true"></mat-slider>
	<p>Electricity sent to battery: 500 kwh</p>
	<p>Electricity sent to market: 500 kwh</p>

</div>