<div class="sub-block">
	<h1>Power plant details</h1>
	<span>Battery: </span><span #battery></span> <span #batteryCapacity></span><br><br>
	<span>Production: </span><span #production></span><br><br>
	<span>Consumption: </span><span #consumption></span><br><br>
	<span>Net production: </span><span #netProduction></span> <br><br>
	<span>Power plant status: </span><span #status></span> <br><br>
	<span>Production output ratio</span>
	<mat-slider min="0" max="1" step="0.1" value="1" thumbLabel = "true" (input)="productionOutputRatioSliderValueChange($event)"></mat-slider>
	<button #productionOutputRatioButton> Update ratio</button><br><br>
	<span class = "hidden-at-start" #actionTimeDelayDescription>Action time delay: </span><span class = "hidden-at-start" #actionTimeDelay></span> <br><br>
	<button #startProduction>Start production</button><button #stopProduction>Stop production</button>


</div>