<div class="column">
	<app-battery-card class="app row" #batteryCard></app-battery-card>
	<app-geo-data-card class="app row" #geoDataCard></app-geo-data-card>
	<app-user-card [isProsumer]="true" [profilePictureUserId]="profilePictureUserId" class="app row" #userCard></app-user-card>
	<app-power-plant-card [isProsumer]="true" class="app row" #powerPlantCard></app-power-plant-card>
</div>
<div class="column">
	<app-house-card class="app row" #houseCard></app-house-card>
</div>
<div class="house-animation-card-container">
	<app-house-animation-card #houseAnimationCard></app-house-animation-card>
</div>
<app-nav-bar *ngIf="showNavBar"></app-nav-bar>
