<div class="column">
	<app-battery-card class="app row" #batteryCard></app-battery-card>
	<app-geo-data-card class="app row" #geoDataCard></app-geo-data-card>
	<app-user-card [isProsumer]="true" [profilePictureUserId]="profilePictureUserId" class="app row" #userCard></app-user-card>
	<app-power-plant-card [isProsumer]="true" class="app row" #powerPlantCard></app-power-plant-card>
</div>
<div class="column">
	<app-house-card class="app row" #houseCard></app-house-card>
</div>
<div class="building-animation-card-container">
	<app-building-animation-card #buildingAnimationCard
		[config]="{
			center: AssetPath.HOUSE,
			north: AssetPath.BATTERY,
			east: AssetPath.CONSUMPTION,
			south: AssetPath.POWER_PLANT,
			west: AssetPath.WIND_TURBINE
		}"
	></app-building-animation-card>
</div>
<app-nav-bar *ngIf="showNavBar"></app-nav-bar>
