:host .dialog-container {
	background-color: var(--background-color);
}

:host .mat-dialog-actions {
	justify-content: space-between;
}

:host .cancel-button,
:host .confirm-button {
	padding: 5px;
	min-width: 90px;
}

:host .dialog-message {
	padding: 0;
	margin: 0;
}

:host ::ng-deep p, :host ::ng-deep h2, :host ::ng-deep span {
	text-shadow: none;
}

:host ::ng-deep input {
	width: calc(100% - 8px);
}