:host {
	width: calc(100% - 8px);
	padding: 4px;
}

:host.hidden {
	display: none;
}

:host * {
	font-size: 18px;
	font-weight: 500;
}

:host .title {
	display: block;
	text-align: center;
	padding: 5px;
}

:host .info {
	display: block;
	text-align: center;
}

:host .prosumer-list-button, :host .box {
	display: inline-block;
	vertical-align: middle;
	border: var(--base-card-border-width) solid;
	border-radius: 5px;
	margin: 2px;
	padding: 2px;
	text-decoration: none;
	line-height: 1em;
}

:host .prosumer-list-button {
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

:host .prosumer-list-button:focus {
	box-shadow: var(--box-shadow-focus);
}

:host .box-green {
	border-color: #88e7bf;
	color: #88e7bf;
}

:host .box-yellow {
	border-color: #e7ce88;
	color: #e7ce88;
}

:host .box-red {
	border-color: #e78888;
	color: #e78888;
}

:host .prosumer-view-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #000000c0;
	z-index: 2;
	cursor: default;  
}

:host .close-prosumer-view-button {
	font-size: 24px;
	line-height: 1em;
	color: #ffffff;
	background-color: #323232;
	width: 32px;
	height: 32px;
	border-radius: 8px;
	border: none;
	z-index: 5;
	float: right;
	margin: 8px;
}

:host .close-prosumer-view-button:focus {
	box-shadow: var(--box-shadow-focus);
}

:host ::ng-deep .prosumer-view-overlay .slider {
	pointer-events: none;
}

:host .prosumer-view-container {
	background-color: var(--background-color);
	width: 90%;
	height: 90%;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
	border-radius: 10px;
	z-index: 3;
}

:host ::ng-deep .prosumer-view-container > .prosumer-view {
	display: block;
	overflow-y: auto;
	overflow-x: auto;
	z-index: 4;
	width: 100%;
	height: calc(100% - 48px);
}

:host .prosumer-view-title {
	text-align: center;
	color: #ffffff;
	font-size: 24px;
	line-height: 2em;
	margin: 0;
	background-color: #323232;
	border-radius: 10px 10px 0px 0px;
}
