<div class="power-plant-card base-card">
	<h2>Power plant</h2>
	<ul>
		<ng-container *ngIf="isProsumer || isManager">
			<li>
				Buy price: <span class="right-align">{{data.buyPrice}}</span>
			</li>
			<li>
				Sell price: <span class="right-align">{{data.sellPrice}}</span>
			</li>
		</ng-container>
		<ng-container *ngIf="isManager">
			<li>
				<button class="card-button" (click)="openUpdatePricesDialog()">Update prices</button>
			</li>
			<li>
				Modelled sell price: <span class="right-align">{{data.modelledSellPrice}}</span>
			</li>
			<li>
				Modelled buy price: <span class="right-align">{{data.modelledBuyPrice}}</span>
			</li>
			<li>
				Production: <span class="right-align">{{data.production}}</span>
			</li>
			<li>
				Consumption: <span class="right-align">{{data.consumption}}</span>
			</li>
			<li>
				Net production: <span class="right-align">{{data.netProduction}}</span>
			</li>	
			<li *ngIf="data.actionDescripton === ''">
				<button *ngIf="!data.productionFlag" class="card-button" (click)="startProduction()">Start production</button>
				<button *ngIf="data.productionFlag" class="card-button" (click)="stopProduction()">Stop production</button>
			</li>
			<ng-container *ngIf="data.actionDescripton !== ''">
				<li>
					Running action: <span class="right-align">{{data.actionDescripton}}</span>
				</li>
				<li>
					Time left: <span class="right-align">{{data.actionDelayTimeS}}</span>
				</li>
			</ng-container>
			<li>
				Total demand: <span class="right-align">{{data.totalDemand}}</span>
			</li>
			<li>
				Has blackout: <span class="right-align">{{data.hasBlackout}}</span>
			</li>
			<li>
				Production output ratio:
			</li>
			<li>
				<mat-slider class="slider" #productionOutputRatioSlider min="0" max="1" step="0.01" value="{{data.productionOutputRatioSliderValue}}" thumbLabel="true" (input)="productionOutputRatioSliderValueChange($event)" (mousedown)="mouseDownProductionOutputRatio()"></mat-slider> 
			</li>
			<li>
				0% <span class="right-align">100%</span>
			</li>
		</ng-container>
	</ul>
</div>
