:host {
	display:inline-flex;
	width: calc(100%/4 - 3px);
	height: calc(30vh - 4px);
	margin: 0 4px 0 0;
	text-align: center;
}


#overproduction-ratio-block:host > .sub-block {
	background-color: brown;
}

#underproduction-ratio-block:host > .sub-block {
	background-color: green;
}

#currency-block:host > .sub-block {
	background-color: darksalmon;
}
