<div class = "sub-block">
	<h1>Currency and market details</h1>
	<span>Currency: </span> <span #currency></span> <br><br>
	<span>Suggested electricity buy price: </span> <span #suggestBuyPrice></span> <br><br>
	<span>Suggested electricity sell price: </span> <span #suggestSellPrice></span> <br><br>
	<span>Current electricity price: </span> <span #electricityPrice></span> <br><br>
	<span>Market demand: </span> <span #totalDemand></span> <br><br>
	<label for ="market-price">Set new market price</label>
	<input type="text" id ="market-price"> <input type="submit" value="Submit">
</div>

