<div class="animation-area">
	<div class="from-generator-path draw-path slide-right" #fromGeneratorPath></div>
	<div class="to-battery-path draw-path slide-up" #toBatteryPath></div>
	<div class="from-battery-path draw-path slide-down" #fromBatteryPath></div>
	<div class="to-consumption-path draw-path slide-right" #toConsumptionPath></div>
	<div class="to-power-plant-path draw-path slide-down" #toPowerPlantPath></div>
	<div class="from-power-plant-path draw-path slide-up" #fromPowerPlantPath></div>
	<svg class="generator"><use href="/assets/generator.svg#generator"></use></svg>
	<svg class="house"><use href="/assets/house-in-circle.svg#house"></use></svg>
	<svg class="battery"><use href="/assets/battery.svg#battery"></use></svg>
	<div class="consumption"></div>
	<svg class="power-plant"><use href="/assets/power-plant.svg#power-plant"></use></svg>
</div>
