:host {
	--animation-area-width: var(--house-animation-container-height);
	--animation-area-height: var(--house-animation-container-width);
	/* Animation durations */
	--animation-duration: 3000ms;
	--path-color: #000000;
	/* House */
	--house-width: calc(0.25 * var(--house-animation-container-width));
	--house-height: var(--house-width);
	--house-x: calc(100% / 2 - var(--house-width) / 2);
	--house-y: calc(100% / 2 - var(--house-height) / 2);
	/* Battery */
	--battery-width: calc(0.15 * var(--animation-area-width));
	--battery-height: var(--battery-width);
	--battery-x: calc(var(--house-x) + var(--house-width) /2 - var(--battery-width) / 2);
	--battery-y: 0px;
	/* Generator */
	--generator-width: calc(0.1 * var(--animation-area-width));
	--generator-height: var(--generator-width);
	--generator-x: 0px;
	--generator-y: calc(var(--house-y) + var(--house-height) / 2 - var(--generator-height) / 2);
	/* Consumption */
	--consumption-width: calc(0.1 * var(--animation-area-width));
	--consumption-height: var(--consumption-width);
	--consumption-x: calc(100% - var(--consumption-width));
	--consumption-y: calc(var(--house-y) + var(--house-height) / 2 - var(--consumption-height) / 2);
	/* Power plant */
	--power-plant-width: calc(0.15 * var(--animation-area-width));
	--power-plant-height: var(--power-plant-width);
	--power-plant-x: calc(var(--house-x) + var(--house-width) / 2 - var(--power-plant-width) / 2);
	--power-plant-y: calc(var(--animation-area-height) - var(--power-plant-height));
	/* Particles */
	--particle-width: calc(0.05 * var(--animation-area-width));
	--particle-height: var(--particle-width);
	/* Paths */
	--path-thickness: calc(0.01 * var(--animation-area-width));
	--double-path-additional-length: calc(0.015 * var(--animation-area-width));
	/* Generator path */
	--generator-path-width: calc(var(--house-x) - var(--generator-x) - var(--generator-width));
	--generator-path-height: var(--path-thickness);
	--generator-path-x: calc(var(--generator-x) + var(--generator-width));
	--generator-path-y: calc(var(--generator-y) + var(--generator-height) / 2 - var(--generator-path-height) / 2);
	/* Battery path */
	--battery-path-width: var(--path-thickness);
	--battery-path-height: calc(var(--house-y) - var(--battery-y) - var(--battery-height) + var(--double-path-additional-length));
	--battery-path-x: calc(var(--battery-x) + var(--battery-width) / 2 - var(--path-thickness) / 2);
	--battery-path-y: calc(var(--battery-y) + var(--battery-height) - var(--double-path-additional-length) / 2);
	/* Consumption path */
	--consumption-path-width: calc(var(--consumption-x) - var(--house-x) - var(--house-width));
	--consumption-path-height: var(--path-thickness);
	--consumption-path-x: calc(var(--consumption-x) - var(--consumption-path-width));
	--consumption-path-y: calc(var(--house-y) + var(--house-height) / 2 - var(--consumption-path-height) / 2);
	/* Power plant path */
	--power-plant-path-width: var(--path-thickness);
	--power-plant-path-height: calc(var(--power-plant-y) - var(--house-y) - var(--house-height) + var(--double-path-additional-length));
	--power-plant-path-x: calc(var(--power-plant-x) + var(--power-plant-width) / 2 - var(--path-thickness) / 2);
	--power-plant-path-y: calc(var(--house-y) + var(--house-height) - var(--double-path-additional-length) / 2);
}

:host .animation-area {
	position: relative;
	width: var(--animation-area-width);
	height: var(--animation-area-height);
}

:host .house {
	position: absolute;
	width: var(--house-width);
	height: var(--house-height);
	left: var(--house-x);
	top: var(--house-y);
	text-align: left;
	line-height: 1em;
	border-radius: 5px;
	fill: var(--house-color);
}

:host .generator {
	position: absolute;
	width: var(--generator-width);
	height: var(--generator-height);
	left: var(--generator-x);
	top: var(--generator-y);
	fill: var(--generator-color);
}

:host .battery {
	position: absolute;
	width: var(--battery-width);
	height: var(--battery-height);
	left: var(--battery-x);
	top: var(--battery-y);
	padding: var(--battery-padding);
	text-align: left;
	line-height: 1em;
	border-radius: 5px;
	fill: var(--battery-color);
}

:host .consumption {
	position: absolute;
	width: var(--consumption-width);
	height: var(--consumption-height);
	left: var(--consumption-x);
	top: var(--consumption-y);
	fill: var(--consumption-color);
}

:host .power-plant {
	position: absolute;
	width: var(--power-plant-width);
	height: var(--power-plant-height);
	left: var(--power-plant-x);
	top: var(--power-plant-y);
	fill: var(--power-plant-color);
}

:host .draw-path {
	background-color: var(--path-color);
	min-width: var(--path-thickness);
	min-height: var(--path-thickness);
}

:host .from-generator-path {
	position: absolute;
	width: var(--generator-path-width);
	height: var(--generator-path-height);
	left: var(--generator-path-x);
	top: var(--generator-path-y);
}

:host .to-battery-path {
	position: absolute;
	width: var(--battery-path-width);
	height: var(--battery-path-height);
	left: calc(var(--battery-path-x) - var(--battery-width) / 5);
	top: var(--battery-path-y);
}

:host .from-battery-path {
	position: absolute;
	width: var(--battery-path-width);
	height: var(--battery-path-height);
	left: calc(var(--battery-path-x) + var(--battery-width) / 5);
	top: var(--battery-path-y);
}

:host .to-consumption-path {
	position: absolute;
	width: var(--consumption-path-width);
	height: var(--consumption-path-height);
	left: var(--consumption-path-x);
	top: var(--consumption-path-y);
}

:host .to-power-plant-path {
	position: absolute;
	width: var(--power-plant-path-width);
	height: var(--power-plant-path-height);
	left: calc(var(--power-plant-path-x) - var(--power-plant-width) / 5);
	top: var(--power-plant-path-y);
}

:host .from-power-plant-path {
	position: absolute;
	width: var(--power-plant-path-width);
	height: var(--power-plant-path-height);
	left: calc(var(--power-plant-path-x) + var(--power-plant-width) / 5);
	top: var(--power-plant-path-y);
}

:host ::ng-deep .particle {
	position: absolute;
	width: var(--particle-width);
	height: var(--particle-height);
	border-radius: var(--particle-height) var(--particle-width);
	margin-top: calc(var(--particle-height) / -2 + var(--path-thickness) / 2);
	left: calc(var(--particle-width) / -2 + var(--path-thickness) / 2);
}

:host ::ng-deep .from-generator-path > .particle {
	fill: var(--generator-color);
}

:host ::ng-deep .to-battery-path > .particle {
	fill: var(--house-color);
}

:host ::ng-deep .from-battery-path > .particle {
	fill: var(--battery-color);
}

:host ::ng-deep .to-consumption-path > .particle {
	fill: var(--house-color);
}

:host ::ng-deep .to-power-plant-path > .particle {
	fill: var(--house-color);
}

:host ::ng-deep .from-power-plant-path > .particle {
	fill: var(--power-plant-color);
}

:host ::ng-deep .slide-up .particle-animation {
	-webkit-animation: slide-down var(--animation-duration) linear reverse;
	animation: slide-down var(--animation-duration) linear reverse;
}

:host ::ng-deep .slide-right .particle-animation {
	-webkit-animation: slide-right var(--animation-duration) linear;
	animation: slide-right var(--animation-duration) linear;
}

:host ::ng-deep .slide-down .particle-animation {
	-webkit-animation: slide-down var(--animation-duration) linear;
	animation: slide-down var(--animation-duration) linear;
}

:host ::ng-deep .hidden {
	display: none;
}

@-webkit-keyframes slide-right {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		left: calc(var(--particle-width) / -2);
	}
	15% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	85% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		left: calc(100% - var(--particle-width) / 2);
	}
}

@keyframes slide-right {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		left: calc(var(--particle-width) / -2);
	}
	15% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	85% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		left: calc(100% - var(--particle-width) / 2);
	}
}

@-webkit-keyframes slide-down {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		top: 0%;
	}
	15% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	85% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		top: 100%;
	}
}

@keyframes slide-down {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
		top: 0%;
	}
	15% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	85% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
		top: 100%;
	}
}
