:host{
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 100vh;
	background-color:#353535;
	margin:0 0px 0px 0px;
}

#navbar-list > li > a > img:hover{
	filter: invert(1);
}


#navbar-list {
	padding: 0;
}

#nav-bar-list > li > a {
	margin-top: 10px;
	height: 50px;
	width: 50px;
	border:none;
	text-align:center;
	cursor:pointer;
	background-color:#353535;
	color:#fff;
	text-decoration:none;
}