
<ul style = "list-style-type:none" id="navbar-list">
	<li id="settings">
		<a  href = "/settings" class = "nav-bar-anchor">
			<img src="/assets/settings.svg" alt="Settings"/>
		</a>
	</li>
	<li id="social">
		<a class = "nav-bar-anchor">
			<img src="/assets/social.svg" alt="Social"/>
		</a>
	</li>
	<li id="alert">
		<a  class = "nav-bar-anchor">
			<img src="/assets/alert.svg" alt="alert"/>
		</a>
	</li>
	<li id="logout">
		<a href ="/login" class = "nav-bar-anchor">
			<img src="/assets/door.svg" alt="Logout"/>
		</a>
	</li>
</ul>