:host{
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 100vh;
	background-color:#353535;
	margin:0 0px 0px 0px;
}

#navbar-list > li > a > img{
	margin: 0px;
}


#navbar-list {
	padding: 0;
}

.nav-bar-anchor {
	margin-top: 10px;
	border:none;
	text-align:center;
	cursor:pointer;
	background-color:#353535;
	color:#fff;
	text-decoration:none;
}

.nav-bar-anchor > img:hover {
	background-color:#fff;
	color:#323232;
}