
<ul style = "list-style-type:none" id="navbar-list">
	<li id="settings">
		<button  class = "nav-bar-button">
			<img src="/assets/settings.svg" alt="Settings"/>
		</button>
	</li>
	<li id="social">
		<button class = "nav-bar-button">
			<img src="/assets/social.svg" alt="Social"/>
		</button>
	</li>
	<li id="alert">
		<button  class = "nav-bar-button">
			<img src="/assets/alert.svg" alt="alert"/>
		</button>
	</li>
	<li id="logout">
		<button  class = "nav-bar-button">
			<img src="/assets/door.svg" alt="Logout"/>
		</button>
	</li>
</ul>