:host {
	--profile-picture-width: 100%;
	--profile-picture-height: 100%;
}

.profile-picture {
	display: block;
	width: var(--profile-picture-width);
	height: var(--profile-picture-height);
	object-fit: contain;
	-o-object-fit: contain;
	text-align: center;
	line-height: var(--profile-picture-height);
	margin: 0 auto;
}
