:host{
	display: block;
	width: 100%;
	height: 70%;
	margin-bottom: 4px;
}
#visual-block{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #353535;
}



#electricity-details-container {
	display: inline-block;
	vertical-align: top;
	width: 275px;
	height: 200px;
	margin-bottom: 4px;
}

#electricity-details-header {
	display: block;
	background-color: rgb(51, 153, 93);
	width: 100%;
	height: 50px;
	margin-bottom: 4px;
}

span {
	font-size: 22px;
}

#electricity-details-header > span {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 28.15px;
}

#electricity-details {
	display: block;
	background-color: rebeccapurple;
	width: 100%;
	height: 146px;
}

p {
	margin:0 0 0 4px;
	font-size: 15px;
	text-align: left;
	line-height: 28.15px;
}

#environment-details {
	display: inline-block;
	margin: 0px 4px 4px 4px;
	width: 180px;
	height: 120px;
	vertical-align: top;
	background-color: rgb(0, 60, 255);
}

#battery-details {
	display: block;
	margin: 0px 4px 0px 0px;
	width: 300px;
	height: 100.1px;
	background-color: violet;

}

#graph-container {
	display: inline-block;
	width: calc(100% - 800px);
	height: 100%;
}

#visual-block-left-container {
	vertical-align: top;
	display: inline-block;
	height: 100%;
	width: 800px;
}

#environment-list {
	padding: 0;
}

#environment-list > img {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

#environment-list > span {
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px 0 4px;
}

#house {
	display: inline-block;
	margin: 0 4px 0px 0;
}

#house > img {
	display: inline-block;
	height: 200px;
	width: 300px;
	
}

#house > img:hover {
	filter: invert(1);
}

