<div id = "visual-block"> 
		
	<div id = "visual-block-left-container">
		<div id = "house">
			<img src="/assets/house.jpg" alt="House"/>
		</div>
		<div id = "electricity-details-container">
			<div id = "electricity-details-header">
				<span>Electricity details</span>
			</div>
			<div id = "electricity-details">
				<p>Production:</p>
				<p>Consumption:</p>
				<p>Net Production:</p>
			</div>
		</div>		
		<div id = "environment-details">
			<ul style = "list-style-type:none" id="environment-list">
				<span>10 C</span>
				<img src="/assets/thermometer.svg" alt="Temperature"/>
				<span>1000 m/s</span>
				<img src="/assets/weather.svg" alt="Weather"/>

			</ul>
		</div>
		<div id = "battery-details">
			<p>Battery: 6500/12000 kwh</p>
		</div>
	</div>
	<div id = "graph-block"></div>


</div>