<div id = "visual-block"> 	
	<div id = "visual-block-left-container">
		<div id = "house">
			<img src="/assets/house.jpg" alt="House"/>
		</div>
		<div id = "electricity-details-container">
			<div id = "electricity-details-header">
				<span>Electricity details</span>
			</div>
			<div id = "electricity-details">
				<span>Production: </span><span #production></span><br><br>
				<span>Consumption: </span><span #consumption></span><br><br>
				<span>Net production: </span> <span #netProduction></span> <br><br>
				<span>Battery: </span> <span #battery></span> <span #batteryCapacity></span>

			</div>
		</div>		
		<div id = "environment-details">
			<ul style = "list-style-type:none" id="environment-list">
				<span #temperature></span>
				<img src="/assets/thermometer.svg" alt="Temperature"/> <br><br>
				<span #windSpeed></span>
				<img src="/assets/weather.svg" alt="Weather"/>

			</ul>
		</div>

	</div>
	<div id = "graph-container">
		<plotly-graph></plotly-graph>
	</div>


</div>