:host .form-card {
	position: absolute;
	width: 400px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -40%);
	background-color: #36393f;
	border-radius: 5px;
}

:host .form-card .form-card-header {
	font-size: 24px;
	height: 1.5em;
	line-height: 1.5em;
	margin: 0 auto;
	text-align: center;
	background-color: var(--primary-color);
	border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
}

:host .form-card .form-group {
	padding: 10px;
}

:host .form-card .form-group:first-of-type {
	padding-top: 20px;
}

:host .form-card .form-label {
	display: inline-block;
	width: 25%;
	height: 30px;
	font-size: 18px;
	line-height: 30px;
	vertical-align: middle;
}

:host .form-card .form-control {
	display: inline-block;
	border: none;
	padding: 5px;
	width: calc(75% - 10px);
	height: calc(30px - 10px);
	border-radius: 5px;
	font-size: 18px;
	vertical-align: middle;
}

:host .form-card .invalid-feedback {
	color: var(--error-primary-color);
	text-align: right;
	margin: 1px 0;
	margin-bottom: -21px;
}

:host .form-card .loading {
	display: inline-block;
	height: 18px;
}

:host .form-button {
	display: inline-block;
	vertical-align: middle;
	width: 185px;
	padding: 10px 0px;
}

:host .form-submit-button {
	margin-right: 5px;
}

:host .form-link-button {
	margin-left: 5px;
}
