<div class="column">
	<app-battery-card [graphId]='"manager-battery-graph"' class="app row" #batteryCard></app-battery-card>
	<app-geo-data-card class="app row" #geoDataCard></app-geo-data-card>
	<app-user-card class="app row" #userCard></app-user-card>
</div>
<div class="column">
	<app-power-plant-card [isManager]="true" class="app row" #powerPlantCard></app-power-plant-card>
	<app-prosumer-list-card class="app row" #prosumerListCard></app-prosumer-list-card>
</div>
<app-nav-bar></app-nav-bar>
