@import '@angular/material/prebuilt-themes/deeppurple-amber.css'; /* Used for dialog box*/

:root {
	--primary-color: #5C84FF;
	--font-color: #ffffff;
	--font-size: 20px;
	--button-line-height: 1em;
	--button-border: none;
	--button-border-radius: 5px;
	--focus-color: #9ab3ff;
	--box-shadow-focus: 0 0 0 3px var(--focus-color);
	--button-text-align: center;
	--button-text-decoration: none;
	--background-color: #1d1d1d;
	--error-primary-color: #ff5c5c;

	--house-color: #8fddf0;
	--battery-color: #90f1a6;
	--user-color: #edaaf6;
	--power-plant-color: #ecdc82;
	--consumption-color: #af6767;
	--geo-data-color: #e4a78b;
	--wind-turbine-color: #e7e7e7;
}

*:not(input) {
	font-family: "Roboto", "Helvetica Neue", sans-serif;
	text-shadow: black 1px 1px 0px;
}

.sne-button {
	background-color: var(--primary-color);
	color: var(--font-color);
	font-size: var(--font-size);
	border: var(--button-border);
	border-radius: var(--button-border-radius);
	text-align: var(--button-text-align);
	text-decoration: var(--button-text-decoration);
	line-height: var(--button-line-height);
	padding: var(--button-padding);
	outline: none;
	cursor: pointer;
}

.sne-button-red {
	background-color: var(--error-primary-color);
}

.sne-button:hover {
	-webkit-filter: brightness(1.2);
	filter: brightness(1.2);
}

.sne-button:active {
	-webkit-filter: brightness(0.8);
	filter: brightness(0.8);
}

.sne-button:focus {
	box-shadow: var(--box-shadow-focus);
}

body {
	background-color: var(--background-color);
	color: var(--font-color);
	margin: 0;
}
