/* You can add global styles to this file, and also import other style files */
.button {
	border:none;
	text-align:center;
	cursor:pointer;
	border-radius:12px;
	background-color:#353535;
	color:#fff;
	text-decoration:none;
	box-shadow:5px 8px 0 0 #181818;
	font-weight:bold;
}

.button:hover {
	background-color:#fff;
	color:#323232;
}

a > img:hover {
	filter: invert(1);
}

body {
	background-color:#1d1a1a;
	color:#fff;
	margin: 0;
	font-size: 0;
}

div {
	margin: 0;
	padding: 0;
	background-color:#353535;
}

.inline-block-container{
	margin: 0 0 0 4px;
	display: inline-block;
	width: calc(100% - 65px);
	height: 100vh;
	background-color: #1d1a1a;
}


.inline-block-container > prosumer-page-block:last-of-type{
	margin-right: 0
}

.block-container {
	display: block;
}

p {
	font-size: 20px;
}


