
<prosumer-page-nav-bar></prosumer-page-nav-bar>
<div class = "inline-block-container">
	<prosumer-page-visual-block></prosumer-page-visual-block>
	<ratio-block class ="sub-block-container"  id ="overproduction-ratio-block" blockName ="Overproduction ratio" entry1Name =""></ratio-block>
	<ratio-block class ="sub-block-container"  id ="underproduction-ratio-block" blockName ="Underproduction ratio"></ratio-block>
	<prosumer-currency-block class = "sub-block-container"></prosumer-currency-block>
	<prosumer-page-block class ="sub-block-container" id ="test" blockName ="Test"></prosumer-page-block>
</div>
<!--	
	
-->