<div id ="main-block">
	<div id = "manager-main-block-left-container">
		<div id = "prosumer-list-container">
			<div id="prosumer-list-header"><span>Prosumer list</span></div>
			<ul style = "list-style-type:none" id="prosumer-list" #prosumerList>
			</ul>
		</div>

		<div #prosumerInfoContainer id ="prosumer-info-container">
			<img #prosumerInfoCloseSymbol src ="/assets/x-mark.svg" alt="exit"> <br><br>
			<h2 #prosumerInfoHeader></h2>
			<span>Currency: </span><span #prosumerInfoCurrency></span> <br><br>
			<span>Battery: </span><span #prosumerInfoBattery></span> <br><br>
			<span>Capacity: </span><span #prosumerInfoCapacity></span> <br><br>
			<span>Production: </span><span #prosumerInfoProduction></span> <br><br>
			<span>Consumption: </span><span #prosumerInfoConsumption></span> <br><br>
			<span>Is blocked: </span><span #prosumerInfoIsBlocked></span>
		</div>

		<div id = "environment-details">
			<ul style = "list-style-type:none" id="environment-list">
				<span #temperature></span>
				<img src="/assets/thermometer.svg" alt="Temperature"/> <br><br>
				<span #windSpeed></span>
				<img src="/assets/weather.svg" alt="Weather"/>
			</ul>
		</div>
	</div>
	<div id = "graph-container">
		<plotly-graph></plotly-graph>
	</div>
</div>