<div id ="main-block">
	<div id = "manager-main-block-left-container">
		<div id = "prosumer-list-container">
			<div id="prosumer-list-header"><span>Prosumer list</span></div>
			<ul style = "list-style-type:none" id="prosumer-list">
				<li >
					<span>Prosumer 1</span> <img src="/assets/thermometer.svg" alt="Blackout"/> 
					<img src="/assets/thermometer.svg" alt="Delete"/> <br><br>
				<span>Prosumer 2</span>
			</ul>
		</div>
		<div id = "environment-details">
			<ul style = "list-style-type:none" id="environment-list">
				<span #temperature></span>
				<img src="/assets/thermometer.svg" alt="Temperature"/> <br><br>
				<span #windSpeed></span>
				<img src="/assets/weather.svg" alt="Weather"/>
			</ul>
		</div>
	</div>
	<div id = "graph-container">
		<plotly-graph></plotly-graph>
	</div>
</div>