:host{
	display: block;
	width: 100%;
	height: 70%;
	margin-bottom: 4px;
}

#manager-main-block-left-container {
	vertical-align: top;
	display: inline-block;
	width: 800px;
}
#main-block{
	display: inline-block;
	width: 100%;
	height: 100%;
	background-color: #353535;
}

#electricity-details-container {
	display: inline-block;
	vertical-align: top;
	width: 275px;
	height: 200px;
	margin-bottom: 4px;
}

#electricity-details-header {
	display: block;
	background-color: rgb(51, 153, 93);
	width: 100%;
	height: 50px;
	margin-bottom: 4px;
}

#electricity-details-header > span {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 28.15px;
}

#electricity-details {
	display: block;
	background-color: rebeccapurple;
	width: 100%;
	height: 146px;
}

#environment-details {
	display: inline-block;
	margin: 0px 4px 4px 4px;
	width: 180px;
	height: 150px;
	vertical-align: top;
	background-color: rgb(0, 60, 255);
}

#environment-list {
	padding: 0;
}

#environment-list > img {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
}

#environment-list > span {
	display: inline-block;
	vertical-align: middle;
	padding: 0 20px 0 4px;
}

#graph-container {
	vertical-align: top;
	display: inline-block;
	width: calc(100% - 800px);
	height: 100%;
}

#prosumer-list-container {
	display: inline-block;
	width: 275px;
	height: 275px;
	margin: 0 0 4px 4px;
}

#prosumer-list-header {
	display: block;
	background-color: rgb(122, 153, 51);
	width: 100%;
	height: 50px;
	margin-bottom: 4px;
}

#prosumer-list-header > span {
	display: inline-block;
	text-align: center;
	width: 100%;
	height: 100%;
	line-height: 28.15px;
}

#prosumer-list {
	display: inline-block;
	padding: 0;
	margin: 0;
	width: 275px;
	background-color: burlywood;
}

#prosumer-list > li > img {
	width: 28.15px;
	height: 28.15px;
}